th {
    color: rgb(4, 67, 161);
    border-bottom-style: double;
    border-bottom-width: 2px;
    border-bottom-color: rgb(189, 238, 250);
    padding: 0px 10px 0px 10px;
}

.short {
    width: 10ch;
}

.date {
    width: 10ch;
}

.customer {
    width: 18ch;
}

.money {
    text-align: right;
    padding-right: 3ch;
}

.popup-content {
    width: 80% !important;
}

.modal {
    font-size: 12px;
  }
  .modal > .header {
    width: 100%;
    border-bottom: 1px solid gray;
    font-size: 18px;
    text-align: center;
    padding: 5px;
  }
  .modal > .content {
    width: 100%;
    padding: 10px 5px;
  }
  .modal > .actions {
    width: 100%;
    padding: 10px 5px;
    margin: auto;
    text-align: center;
  }
  .modal > .close {
    cursor: pointer;
    position: absolute;
    display: block;
    padding: 2px 5px;
    line-height: 20px;
    right: -10px;
    top: -10px;
    font-size: 24px;
    background: #ffffff;
    border-radius: 18px;
    border: 1px solid #cfcece;
  }